<article>
  <h1>Nueva Contraseña</h1>
  {{#if error }}
    <p>{{error}}</p>
  {{/if}}
  <form action="/api/sessions/change-password?token={{token}}" method="POST">
    <input type="password"  name="newPassword" placeholder="Nueva Contraseña">
    <input type="password"  name="repiteNewPassword" placeholder="Repita Nueva Contraseña">
    <p>Ir a <a href="/login">login</a></p>
    <button type="submit">Enviar</button>
  </form>
</article>
