<article>
  <h1>Resetear Contraseña</h1>
  {{#if error }}
    <p>{{error}}</p>
  {{/if}}
  <form action="/api/sessions/reset-password" method="POST">
    <input type="text" name="email" placeholder="Correo">
    <p>Ir a <a href="/login">login</a></p>
    <button type="submit">Enviar</button>
  </form>
</article>
